- name: Set hostname to {{server_name}}
  hostname: name={{server_name}}
- include: initialize_amazonlinux.yml
  when: aws_awslinux in ["1", "2"]
- name: Set locale to /etc/sysconfig/i18n
  when: centos_version=="6"
  replace: >
    dest=/etc/sysconfig/i18n
    regexp='^LANG=en_US\.UTF-8'
    replace='LANG={{locale}}'
- name: set locale to {{locale}}
  when: centos_version=="7"
  shell: localectl set-locale LANG={{locale}}
  register: set_locale
  changed_when: false
- name: Set timezone to {{zone}}
  changed_when: false
  timezone:
    name: "{{zone}}"
- include: install_repo_centos7.yml
  when: centos_version=="7" and aws_awslinux=="no"
- include: install_repo_amazonlinux2.yml
  when: aws_awslinux=="2"
- name: Apply All Updates
  yum: name=* state=latest
- include: install_util.yml
- include: install_extra.yml
- include: initialize_etckeeper.yml
- include: initialize_logrorate.yml
- include: initialize_firewall_centos7.yml
  when:
    - centos_version=="7" and aws_awslinux=="no"
    - centos_firewall_enable=="yes"
- include: initialize_swapfile.yml
  when:
    - centos_version=="7" or aws_awslinux=="2"
