- name: Install newrelic-sysmond
  yum:
    name:
      - "newrelic-sysmond"
    state: latest
  register: result
- name: sysmond Add License
  shell: nrsysmond-config --set license_key={{ newrelic_licensekey }}
  notify: Restart newrelic-sysmond
  when: result.changed == True
- name: Chkconfig on newrelic-sysmond
  service: name=newrelic-sysmond enabled=yes
