Timeout 60
KeepAlive On

MaxKeepAliveRequests 100

KeepAliveTimeout 120

<IfModule prefork.c>
StartServers         10
MinSpareServers       5
MaxSpareServers      10
ServerLimit         512
MaxClients          512
MaxRequestsPerChild  10
</IfModule>

<Files ~ "^\.git">
    Order allow,deny
    Deny from all
</Files>

<Directorymatch "^/.*/\.git/">
    Order deny,allow
    Deny from all
</Directorymatch>
