set $spambot 0;

##### Referer Add heare ###########
if ( $http_referer ~* '0n-line.tv' ){
  set $spambot 1;
}
if ( $http_referer ~* '100dollars-seo.com' ){
  set $spambot 1;
}
if ( $http_referer ~* '12masterov.com' ){
  set $spambot 1;
}
if ( $http_referer ~* '1pamm.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* '1webmaster.ml' ){
  set $spambot 1;
}
if ( $http_referer ~* '2your.site' ){
  set $spambot 1;
}
if ( $http_referer ~* '45tahunkhongguan.com' ){
  set $spambot 1;
}
if ( $http_referer ~* '4webmasters.org' ){
  set $spambot 1;
}
if ( $http_referer ~* '5forex.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* '76brighton.co.uk' ){
  set $spambot 1;
}
if ( $http_referer ~* '76brighton.com' ){
  set $spambot 1;
}
if ( $http_referer ~* '7makemoneyonline.com' ){
  set $spambot 1;
}
if ( $http_referer ~* '7secretsearch.com' ){
  set $spambot 1;
}
if ( $http_referer ~* '7zap.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'abovetherivernc.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'acads.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'acunetix-referrer.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adcash.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'addons.mozilla.addon' ){
  set $spambot 1;
}
if ( $http_referer ~* 'addons.mozilla.en-US' ){
  set $spambot 1;
}
if ( $http_referer ~* 'addons.mozilla.firefox' ){
  set $spambot 1;
}
if ( $http_referer ~* 'addons.mozilla.ilovevitaly' ){
  set $spambot 1;
}
if ( $http_referer ~* 'addons.mozilla.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adelly.bg' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adf.ly' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adsensewatchdog.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adspart.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adventureparkcostarica.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'adviceforum.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'advokateg.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'advokateg.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'advokateg.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'affordablewebsitesandmobileapps.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'afora.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'akuhni.by' ){
  set $spambot 1;
}
if ( $http_referer ~* 'alessandraleone.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'alfa9.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'alibestsale.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'aliexpress.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'allknow.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'allnews.md' ){
  set $spambot 1;
}
if ( $http_referer ~* 'allwomen.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'alot.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'alpharma.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'altermix.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'amanda-porn.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'amt-k.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'anal-acrobats.hol.es' ){
  set $spambot 1;
}
if ( $http_referer ~* 'anapa-inns.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'android-style.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'anticrawler.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'aosheng-tech.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'arendakvartir.kz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'arkkivoltti.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'artparquet.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'aruplighting.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'audiobangout.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'autobrennero.it' ){
  set $spambot 1;
}
if ( $http_referer ~* 'autovideobroadcast.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'aviva-limoux.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'avkzarabotok.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'avkzarabotok.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'awency.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'azartclub.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'b4.arcadecandy.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'b4.arcadeyum.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'b4.epicplay.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'b4.rivalgaming.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bablonow.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'backgroundpictures.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'baixar-musicas-gratis.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'baladur.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'balitouroffice.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bard-real.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bausparen.bz.it' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bbtec.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'best-seo-offer.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'best-seo-software.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'best-seo-solution.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bestmobilityscooterstoday.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bestwebsitesawards.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bif-ru.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'biggestplayer.cachefly.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'biglistofwebsites.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'billiard-classic.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bioca.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bizru.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bkns.vn' ){
  set $spambot 1;
}
if ( $http_referer ~* 'black-friday.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'blackhatworth.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'blackle.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'blogs.forum69.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'blogtotal.de' ){
  set $spambot 1;
}
if ( $http_referer ~* 'blue-square.biz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bluerobot.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bmw.afora.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'boleznikogi.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bookmark4you.biz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bookmark4you.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'boost-my-site.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'box10.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'brakehawk.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'break-the-chains.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bristolhostel.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bristolhotel.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bristolhotel.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'brk-rti.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'brothers-smaller.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'budmavtomatika.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'burger-imperia.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buttons-for-website.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buttons-for-your-website.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buy-cheap-online.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buy-forum.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buyantiviralwp.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buypharmacydrug.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'buysellsignals.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'bycontext.comお気に入り詳細を見る' ){
  set $spambot 1;
}
if ( $http_referer ~* 'c.brightcove.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'callejondelpozo.es' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cardiosport.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cartechnic.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cbcseward.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cbox.ws' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cenokos.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cenoval.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cezartabac.ro' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cherrypointplace.ca' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cherubinimobili.it' ){
  set $spambot 1;
}
if ( $http_referer ~* 'chinese-amezon.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ci.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cityadspix.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'civilwartheater.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'clicksor.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'clmforexeu.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'coderstate.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'codysbbq.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'conciergegroup.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'connectikastudio.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'constantaservice.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'contextualyield.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cookinggames.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'copyrightclaims.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'covadhosting.biz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cubook.supernew.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'curvefever.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'customsua.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cyber-monday.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'cyprusbuyproperties.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dailyrank.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'darodar.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dbutton.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'delfin-aqua.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'demenageur.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'depositfiles-porn.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'depositfiles-porn.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'descargar-musica-gratis.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'detskie-konstruktory.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'digital-video-processing.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dipstar.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'directrev.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'djekxa.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dktr.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dojki-hd.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'doktoronline.no' ){
  set $spambot 1;
}
if ( $http_referer ~* 'domination.ml' ){
  set $spambot 1;
}
if ( $http_referer ~* 'doska-vsem.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dostavka-v-krym.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'drupa.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'dvr.biz.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'e-buyeasy.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'e-kwiaciarz.pl' ){
  set $spambot 1;
}
if ( $http_referer ~* 'e2click.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ecomp3.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'econom.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'econom.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'edakgfvwql.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'edelstahlschornstein-123.de' ){
  set $spambot 1;
}
if ( $http_referer ~* 'egovaleo.it' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ekto.ee' ){
  set $spambot 1;
}
if ( $http_referer ~* 'elitesportadvisor.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'elitesportsadvisor.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'elmifarhangi.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'embedle.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'eredijovon.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'erot.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'escort-russian.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'este-line.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'etc.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'euromasterclass.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'europages.com.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'eurosamodelki.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'event-tracking.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'extener.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'extremez.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'family1st.ca' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fast-wordpress-start.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fbdownloader.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fbfreegifts.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'feedouble.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'feedouble.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'filmetricsasia.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'filmhill.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fitness-video.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fiverr.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'flipline.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'floating-share-buttons.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'for-your.website' ){
  set $spambot 1;
}
if ( $http_referer ~* 'forex-procto.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'forsex.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'forum20.smailik.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'forum69.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'foxtechfpv.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'free-floating-buttons.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'free-share-buttons.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'free-social-buttons.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'freeinvaders.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'freeseedsonline.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'freewhatsappload.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'friv10000000.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fsalas.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ftns.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'fungirlsgames.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'funnypica.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'games2win.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'generalporn.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'germes-trans.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'get-free-social-traffic.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'get-free-traffic-now.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'get-your-social-buttons.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'getprismatic.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ghazel.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'girlgames.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'girlporn.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'gkvector.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'glavprofit.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'gobongo.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'gogy.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'goodprotein.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'googlemare.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'googlsucks.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'gototal.co.nz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'guardlink.(com?|org)' ){
  set $spambot 1;
}
if ( $http_referer ~* 'guardlink.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'guardlink.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'h2monline.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'handicapvantoday.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hazardky.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hdmoviecamera.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hol.es' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hongfanji.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hostcritique.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hosting-tracker.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hostingclub.lk' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hotwatersdamps.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'houseofrose.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'how-to-earn-quick-money.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'howopen.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'howtostopreferralspam.eu' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hulfingtonpost.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'humanorightswatch.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hundejo.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'hvd-store.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ico.re' ){
  set $spambot 1;
}
if ( $http_referer ~* 'iedit.ilovevitaly.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'igru-xbox.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'iloveitaly.ro' ){
  set $spambot 1;
}
if ( $http_referer ~* 'iloveitaly.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ilovevitaly.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ilovevitaly.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ilovevitaly.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ilovevitaly.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ilovevitaly.ro' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ilovevitaly.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'imasdk.googleapis.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'iminent.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'imperiafilm.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'inbox.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'inboxdollars.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'intermesh.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'investpamm.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'invivo.hu' ){
  set $spambot 1;
}
if ( $http_referer ~* 'iskalko.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ispaniya-costa-blanca.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'istanbulit.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'it-max.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'itronics.ca' ){
  set $spambot 1;
}
if ( $http_referer ~* 'itsdp3.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'jasonpartington.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'jazzstyle4us.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'jjbabskoe.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'joinandplay.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'joingames.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'justprofit.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'jwss.cc' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kabbalah-red-bracelets.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kallery.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kambasoft.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kazrent.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kino-fun.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kino-key.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kinopolet.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'knigonosha.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'konkursov.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'kosova.de' ){
  set $spambot 1;
}
if ( $http_referer ~* 'laxdrills.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'leadwayau.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lilishopstogether.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'littleberry.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'livefixer.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lmrauction.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lol-smurfs.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lomb.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lombia.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lombia.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lsex.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'lumb.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'luxup.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'm1media.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'magento-crew.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mainlinehobby.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'make-money-online.7makemoneyonline.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'makemoneyonline.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'malls.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'manualterap.roleforum.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'maps.ilovevitaly.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'maridan.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'maridan.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'masterseek.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'maxthon.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mebelcomplekt.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mebeldekor.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mebeldekor.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'med-zdorovie.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'med-zdorovie.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'medi-fitt.hu' ){
  set $spambot 1;
}
if ( $http_referer ~* 'medicovi.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'medispainstitute.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'meendo-free-traffic.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mericanmopedstore.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'micasainvest.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'microsearch.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'minegam.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mini.7zap.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mir-betting.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mirobuvi.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mirobuvi.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mirtorrent.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mobilemedia.md' ){
  set $spambot 1;
}
if ( $http_referer ~* 'morgansindall.coins.int' ){
  set $spambot 1;
}
if ( $http_referer ~* 'motion-interactive.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mountainstream.ms' ){
  set $spambot 1;
}
if ( $http_referer ~* 'moyakuhnia.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mpftpupload.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mrmoneymustache.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'msk.afora.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'muscle-factory.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'muscle-factory.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'musicas.baixar-musicas-gratis.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'musicprojectfoundation.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'mycaf.it' ){
  set $spambot 1;
}
if ( $http_referer ~* 'myftpupload.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'myprintscreen.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'nate.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'net.hts.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'nextconseil.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'niki-mlt.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'notaria-desalas.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'noumeda.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'novosti-hi-tech.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'nufaq.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'nullrefer.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'o-o-6-o-o.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'o-o-6-o-o.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'o-o-8-o-o.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'o-o-8-o-o.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'offers.bycontext.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ok.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'online-hit.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'onlinetvseries.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'onlywoman.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ooo-olni.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'openfrost.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'openmediasoft.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ops.picscout.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'osoznanie-narkotikam.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ourmeets.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ozas.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'palvira.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'palvira.com.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'paparazzistudios.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pensplan.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pensplan4u.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'petrovka-online.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'photokitchendesign.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pizza-imperia.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pizza-tycoon.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'player.pureplay.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pochemychka.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pogo.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'poisk-zakona.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pops.foundation' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pornhub-forum.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pornhub-forum.uni.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pornhub-ru.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pornoforadult.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'portnoff.od.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'portnoff.od.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'powitania.pl' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pozdravleniya-c.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'priceg.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pricheski-video.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'princeadvantagesales.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'printingpeach.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'prlog.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'producm.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'prodvigator.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'prodvigator.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'prohoster.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'prointer.net.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'prointer.net.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'promoforum.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'proposal-engine.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'psa48.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'putitin.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'pyrodesigns.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'qitt.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'qualitymarketzone.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'quit-smoking.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'quit-smoking.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'qwesa.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'r-e-f-e-r-e-r.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rankings-analytics.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rankscanner.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ranksignals.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ranksonic.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ranksonic.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ranksonic.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rapidgator-porn.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rcb101.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'realting-moscow.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rednise.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rentalmaty.kz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'research.ifmo.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'resellerclub.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'responsinator.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'retreatia.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'reversing.cc' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rightenergysolutions.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'risparmiocasa.bz.it' ){
  set $spambot 1;
}
if ( $http_referer ~* 'roblox.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rospromtest.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'rusexy.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 's.click.aliexpress.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 's3.misterwhat.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sady-urala.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'salutmontreal.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sanjosestartups.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'santasgift.ml' ){
  set $spambot 1;
}
if ( $http_referer ~* 'savetubevideo.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'screentoolkit.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'scripted.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'search-error.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'search-helper.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'search3.openobjects.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'see-your-website-here.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'semalt.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'semalt.semalt.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'semaltmedia.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'seo-platform.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'seo-smm.kz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'seoanalyses.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'seoexperimenty.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'seokicks.de' ){
  set $spambot 1;
}
if ( $http_referer ~* 'seopub.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'setioweb.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sexyali.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sexyteens.hol.es' ){
  set $spambot 1;
}
if ( $http_referer ~* 'share-buttons.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sharebutton.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sharebutton.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sharebutton.to' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sharemyfile.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'shop.xz618.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'shopping.ilovevitaly.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sibecoprom.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'simple-share-buttons.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'siteripz.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sitevaluation.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sitevaluation.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sklad-24.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sledstvie-veli.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'slftsdybbg.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'slkrm.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'smailik.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'snip.to' ){
  set $spambot 1;
}
if ( $http_referer ~* 'snip.tw' ){
  set $spambot 1;
}
if ( $http_referer ~* 'soaksoak.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'social-buttons.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'socialseet.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.com.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.com.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.com.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'softomix.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sohoindia.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'solnplast.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sonyelektronik.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'sosdepotdebilan.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'soundfrost.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'spb.afora.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'spravka130.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'srecorder.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'st3.cwl.yahoo.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'star61.de' ){
  set $spambot 1;
}
if ( $http_referer ~* 'static.cmptch.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'static1.dmcdn.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'steame.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'streha-metalko.si' ){
  set $spambot 1;
}
if ( $http_referer ~* 'success-seo.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'superiends.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'supernew.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'superpages.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'susanholtphotography.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'taihouse.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'tasteidea.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'tastyfoodideas.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'tattooha.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'teastory.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'tedxrj.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'tetrisfriends.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'textelle.ee' ){
  set $spambot 1;
}
if ( $http_referer ~* 'thecoral.com.br' ){
  set $spambot 1;
}
if ( $http_referer ~* 'theguardlan.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'thepokertimer.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ticimax.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'tomck.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'top1-seo-service.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'topblogstories.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'topseoservices.co' ){
  set $spambot 1;
}
if ( $http_referer ~* 'torontoplumbinggroup.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'torture.ml' ){
  set $spambot 1;
}
if ( $http_referer ~* 'totaljerkface.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'touchmods.fr' ){
  set $spambot 1;
}
if ( $http_referer ~* 'toyota.7zap.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'traffic2cash.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'traffic2cash.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'traffic2cash.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'traffic2money.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'trafficgenius.xyz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'trafficmonetize.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'trafficmonetizer.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'traffictomoney.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'trion.od.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'trion.od.ua' ){
  set $spambot 1;
}
if ( $http_referer ~* 'trk-4.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'twincitiescarservice.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'uasb.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'uglystat.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'uni.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'uptimebot.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'uptimechecker.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'urlopener.blogspot.com.au' ){
  set $spambot 1;
}
if ( $http_referer ~* 'uzungil.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'vampirestat.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'vapmedia.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'vds.rightster.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'video--production.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'video-woman.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'videofrost.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'videofrost.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'videos-for-your-business.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'viel.su' ){
  set $spambot 1;
}
if ( $http_referer ~* 'viktoria-center.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'villainstat.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'vodaodessa.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'vodkoved.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'w3javascript.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'waterfallscanopy.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'web-betting.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'web.roblox.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'webmaster-traffic.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'webmonetizer.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'website-analyzer.info' ){
  set $spambot 1;
}
if ( $http_referer ~* 'website-errors-scanner.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'website-stealer-warning.hdmoviecamera.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'website-stealer.nufaq.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'websites-reviews.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'websocial.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'williamrobsonproperty.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'windstream.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'wmasterlead.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'wordpress-crew.net' ){
  set $spambot 1;
}
if ( $http_referer ~* 'work-from-home-earn-money-online.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'xn--80adgcaax6acohn6r.xn--p1ai' ){
  set $spambot 1;
}
if ( $http_referer ~* 'xn--c1acygb.xn--p1ai' ){
  set $spambot 1;
}
if ( $http_referer ~* 'xn--q1a.xn--b1aube0e.xn--c1acygb.xn--p1ai' ){
  set $spambot 1;
}
if ( $http_referer ~* 'yeartwit.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'ykecwqlixx.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'yougetsignal.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'youporn-forum.ga' ){
  set $spambot 1;
}
if ( $http_referer ~* 'youporn-forum.uni.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'youporn-ru.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'yoursearch.me' ){
  set $spambot 1;
}
if ( $http_referer ~* 'yourserverisdown.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'youtubedownload.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'yurgorod.ru' ){
  set $spambot 1;
}
if ( $http_referer ~* 'zastroyka.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'zazagames.org' ){
  set $spambot 1;
}
if ( $http_referer ~* 'zombiestat.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'zverokruh-shop.cz' ){
  set $spambot 1;
}
if ( $http_referer ~* 'годом.рф' ){
  set $spambot 1;
}
if ( $http_referer ~* 'грузоподъемные-машины.рф' ){
  set $spambot 1;
}
if ( $http_referer ~* 'лечениенаркомании.com' ){
  set $spambot 1;
}
if ( $http_referer ~* 'непереводимая.рф' ){
  set $spambot 1;
}
if ( $http_referer ~* 'профмонтаж-врн.рф' ){
  set $spambot 1;
}
if ( $http_referer ~* 'с.новым.годом.рф' ){
  set $spambot 1;
}
if ( $http_referer ~* 'снятьдомвсевастополе.рф' ){
  set $spambot 1;
}
if ( $http_referer ~* 'холодныйобзвон.рф' ){
  set $spambot 1;
}

# Security Scanner
if ( $http_user_agent ~* 'OpenVAS' ){
  set $spambot 1;
}
if ( $http_user_agent ~* 'Nessus' ){
  set $spambot 1;
}
if ( $http_user_agent ~* 'Nikto' ){
  set $spambot 1;
}


##################################################

if ( $spambot = 1) {
  return 403;
}
