# fastcgi_split_path_info ^(.+\.php)(/.+)$;
fastcgi_pass  unix:/var/run/php-fpm/www.sock;
fastcgi_index index.php;
fastcgi_param URI $uri;
fastcgi_param SERVER_NAME $host;
fastcgi_param REQUEST_METHOD $request_method;
# fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
fastcgi_read_timeout 300;
fastcgi_ignore_headers Expires Cache-Control;

fastcgi_cache_bypass $skip_cache;
fastcgi_no_cache     $skip_cache;
fastcgi_cache        fastcgi_cache;
fastcgi_cache_valid  any 1m;
