server {
    listen       80 default_server;
    listen       [::]:80;
    # listen       443 ssl http2;
    # listen       [::]:443 ssl http2;

    server_name  dummy;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";

    # ssl_certificate         /etc/letsencrypt/live/EXAMPLE.com/fullchain.pem;
    # ssl_certificate_key     /etc/letsencrypt/live/EXAMPLE.com/privkey.pem;

    charset      utf-8;

    access_log   /var/log/nginx/dummy_access.log main;
    error_log    /var/log/nginx/dummy_error.log warn;

    root         /var/www/html;

    include      /etc/nginx/default.d/deny_spambot.conf;

    location / {
    	index  index.html;
    }
}
