[mariadb]
name = MariaDB
{% if aws_awslinux == "2023" %}
# Amazon Linux 2023 uses rhel9 repositories
baseurl = https://yum.mariadb.org/{{mariadb_repo}}/rhel9-{{cpu_arch}}
{% else %}
baseurl = https://yum.mariadb.org/{{mariadb_repo}}/centos7-{{cpu_arch}}
{% endif %}
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
enabled=1
gpgcheck=1
